* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App {
    width: 800px;
}

.post {
    display: flex;
    padding: 15px;
    border: 2px solid teal;
    margin-top: 15px;
    justify-content: space-between;
    align-items: center;
}

.post__btns {
    display: flex;
    gap: 10px;
}

.post-item-enter {
    transform: translateX(50%);
    opacity: 0;
}

.post-item-enter-active {
    transform: translateX(0);
    opacity: 1;
    transition: .3s;
}

.post-item-exit {
    transform: translateX(0);
    opacity: 1;
}

.post-item-exit-active {
    transform: translateX(-50%);
    opacity: 0;
    transition: .3s;
}
